.game {
  width: min-content;
  height: min-content;
  display: flex;
  flex-direction: column;
}

.pipe-row {
  display: flex;
}

.pipe {
  width: 40px;
  height: 40px;
  background: #eeeeee;
  border: 1px solid #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &:hover {
    background: #ffffff;
  }

  .pipe-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.1s;
    position: relative;

    &.I_SHAPE {
      &::after {
        position: absolute;
        width: 20%;
        height: 100%;
        transform: translate(-50%, 0);
        background: black;
        content: '';
      }
    }

    &.T_SHAPE {
      &::after {
        position: absolute;
        width: 100%;
        height: 20%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: black;
        content: '';
      }

      &::before {
        position: absolute;
        width: 20%;
        height: 50%;
        transform: translate(-50%, 100%);
        background: black;
        content: '';
      }
    }

    &.L_SHAPE {
      &::after {
        position: absolute;
        width: 60%;
        height: 20%;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        background: black;
        content: '';
      }

      &::before {
        position: absolute;
        width: 20%;
        height: 50%;
        transform: translate(-50%, 100%);
        background: black;
        content: '';
      }
    }

    &.LEAF {
      &::after {
        position: absolute;
        width: 20%;
        height: 50%;
        transform: translate(-50%, 100%);
        background: black;
        content: '';
      }

      &::before {
        position: absolute;
        width: 35%;
        height: 35%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: black;
        border-radius: 100%;
        content: '';
      }
    }

    &.r0 {
      transform: rotate(0deg);
    }

    &.r1 {
      transform: rotate(90deg);
    }

    &.r2 {
      transform: rotate(180deg);
    }

    &.r3 {
      transform: rotate(270deg);
    }
  }
}
